# Database
*.db
*.sqlite3

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Environment
.env
.env.*

# Virtual environment
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Bot Discord
admin_session.pkl